<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/new.css">
    <title>New Attractions</title>
  </head>
  
  <body>
    <header>

      <body>
        <nav>
            <ul class ="nav-bar">
              <li><a href="/dallas">Home</a></li>
              <li style="float:right"><a class="sign" href="">Sign Up</a></li>
        <li style="float:right"><a class="sign" href="">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <h3>Add A Attraction</h3>
      <form action="/dallas" method="POST">
        Name: <input type="text" name="name" /> <br />
        Image:<input type="text" name="img" /> <br />
        Description:<input type="text" name="description" /> <br />
        Rating:<input type="text" name="rating" /> <br />
        <input type="submit" value="Add Attraction" />
      </form>
    </main>
  </body>
</html>
